:root {
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px;
}

.inner {
    padding: 20px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin: 8px;
    font-size: large;
}

.tabbar {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin: 8px;
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
    font-size: small;
}

a.tab {
    float: left;
    padding: 8px;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.album {
    width: 250px;
    height: 250px;
    margin: 16px;
    float: left;
    display: flex;
    border-radius: 8px;
    box-shadow: 2px 2px 30px rgb(124, 124, 124);
    background-color: whitesmoke;
    cursor: pointer;
}

.album.inactive {
    transition: transform .5s, width .5s;
}

.album.inactive:hover {
    transform: scale(1.1);
}

.album.active {
    position: absolute;
    width: 500px;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    transform: scale(1.1);
    transition: width .5s;
    z-index: 2;
}

.cover {
    height: 250px;
    border-radius: 8px;
}

.text {
    padding: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: small;
    overflow: hidden;
}

.text.active {
    animation: fadeIn .5s;
}

.text.inactive {
    animation: fadeOut .5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.blur {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    filter: blur(8px);
    pointer-events: none;
}